.container{
  margin-left: 30%;
  margin-right: 30%;
}
h1{
  font-size: 40px;
  letter-spacing: 5px;
  opacity: 10;
}
h2{
  font-size: 30px;
  letter-spacing: 3px;
  font-family: fantasy;
  margin-top: 10%;
  color: green;
}
.space{
  margin-bottom: 10%;
}
.border{
  border: 2px solid black;
  width: 120px;
}
a{
  margin-right:  3%;
  text-decoration: none;
  color: black;
}
a:hover{
  color: green;
}
body{
  background-repeat:no-repeat;
}
.me{
  style: width:500px;height: 300px;
  margin-left: 30%;

}
.galleryimages{
    style: width:400px;height: 200px;
    float:left;

}
.picparagraph{
  padding: 5px;
  width: 400px;
  margin: 5%;
  margin-left: 40%;
}
.column a{
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
}
.column p{
  width: 500px;
  margin-left: 10%;
}
.column{
  margin-top: 10%;
}
